<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="captureImage()">Capture image</ion-button>
  <ion-button expand="block" (click)="captureVideo()">Capture video</ion-button>
  <ion-button expand="block" (click)="loadImageFromLibrary()"
    >Image from library</ion-button
  >
  <ion-button expand="block" (click)="loadVideoFromLibrary()"
    >Video from Library</ion-button
  >
  <!-- <div *ngIf="!downloadUrl && progressPercentage | async as progress">
    {{ progress }}
  </div> -->
  <div *ngIf="downloadUrl | async as url">
    <img [src]="url" />
  </div>
</ion-content>
